{{>navbar}}
<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Train Number</th>
      <th>Journey Date</th>
      <th>Fare</th>
      <th>Seat Type</th>
      <th>No of Seat</th>
      <th>Payment Status</th>
      <th>Mode</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each details}}
    <tr>
      <td>{{booking_id}}</td>
      <td>{{train_number}}</td>
      <td>{{journey_date}}</td>
      <td>{{fare}}</td>
      <td>{{seat_type}}</td>
      <td>{{no_of_seats}}</td>
      <td>{{payment_mode}}</td>
      <td>{{payment_status}}</td>
      <td style="padding-left: 2%;">
        <!-- modal button cancel -->
        <i class="fa-regular fa-xl fa-circle-xmark" style="color: #EF6262;" onclick="info({{booking_id}},{{payment_id}})" class="btn btn-danger"
          data-bs-toggle="modal" data-bs-target="#cancelModal" ></i>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="container">
  <marquee>
    <p style="font-family:cursive">want to make a new booking ?</p>
  </marquee>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Booking
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choose Your Origin and Destination</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          Booking will happens for this account number : <input type="text" id="myText" value="{{userData.acc_num}}" style="width:50px"
            disabled>
          <div class="form-group">
            <br>
            <label for="src">Origin Station:</label>
            <select class="form-control" id="src" name="src">
              {{#each stations}}
              <option value="{{station_code}}">{{station_name}}</option>
              {{/each}}
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="dept">Destination Station:</label>
            <select class="form-control" id="dept" name="dept">
              {{#each stations}}
              <option value="{{station_code}}">{{station_name}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick="getOption()">Continue Booking</button>
      </div>
    </div>
  </div>
</div>


<!--cancel modal-->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancelModalLabel">Cancel Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/dashboard/cancel" method="POST">
          <input type="hidden" id="modal_payment_id" name="payment_id" value="">
          <input type="hidden" id="modal_booking_id" name="booking_id" value="">
          <input type="hidden" id="acc_num" name="acc_num" value="{{userData.acc_num}}">
          <p><strong>Are you sure you want to delete this record?</strong> </p>
          <input type="submit" value="Yes" class="btn btn-outline-warning">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>


  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .delete-button {
      background-color: #c00b23;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    .delete-button:hover {
      background-color: #8c091c;
    }

    .top-menu {
      display: flex;
      list-style-type: none;
      padding: 0;
    }

    .top-menu li {
      margin-right: 10px;
    }
  </style>

  <script>
    function getOption() {
      var acc_num = document.getElementById("myText").value;
      var src = document.getElementById('src').value;
      var dept = document.getElementById('dept').value;
      if (src === dept) {
        alert('Arrival and Departure stations cannot be the same!');
      }
      else {
        console.log(src);
        console.log(dept);
        console.log(acc_num);
        window.location.href = "/book?acc_num=" + acc_num + "&src=" + src + "&dept=" + dept;
      }
    }

    function info(booking_id, payment_id) {
      document.getElementById("modal_payment_id").value = payment_id;
      document.getElementById("modal_booking_id").value = booking_id;
      console.log(payment_id);
      console.log(booking_id);

    }


  </script>