
<nav class="navbar navbar-light" style="background-color: rgb(255, 251, 0);">
  <ul class="nav navbar-nav">
      <li><strong> Hi, </strong>{{name}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home">
      <button type="button" class="btn btn-outline-danger">logout</button>
      </a></li>
    </ul>
    
</nav>
    
    <table>
      <thead>
        <tr>
          <th>Booking ID</th>
          <th>Train Number</th>
          <th>Journey Date</th>
          <th>Fare</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each details}}
          <tr>
            <td>{{booking_id}}</td>
            <td>{{train_number}}</td>
            <td>{{journey_date}}</td>
            <td>{{fare}}</td>
            <td>
              <a href="/cancel?bid={{booking_id}}">
                 <button
                class="delete-button"
              >Cencel booking</button></td>
              </a>
          </tr>
        {{/each}}
      </tbody>
    </table>

<div class="container">
  <marquee>
    <p style="font-family:cursive">want to make a new booking ?</p>
  </marquee>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{#each details}}
        {{acc_num}}
        {{src}}
        {{dest}}
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <style>
      table { border-collapse: collapse; width: 100%; } th, td { padding: 8px;
      text-align: left; border-bottom: 1px solid #ddd; } .delete-button {
      background-color: #c00b23; color: white; border: none; padding: 5px 10px;
      cursor: pointer; } .delete-button:hover { background-color: #8c091c; }
    .top-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.top-menu li {
  margin-right: 10px;
}</style>


