{{>navbar}}
<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Train Number</th>
      <th>Journey Date</th>
      <th>Fare</th>
      <th>Seat Type</th>
      <th>No of Seat</th>
      <th>Payment Status</th>
      <th>Mode</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each details}}
    <tr>
      <td>{{booking_id}}</td>
      <td>{{train_number}}</td>
      <td>{{journey_date}}</td>
      <td>{{fare}}</td>
      <td>{{seat_type}}</td>
      <td>{{no_of_seats}}</td>
      <td>{{payment_mode}}</td>
      <td>{{payment_status}}</td>
      <td>
        <a href="/cancel?bid={{booking_id}}">
          <button class="delete-button">Cencel booking</button>
      </td>
      </a>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="container">
  <marquee>
    <p style="font-family:cursive">want to make a new booking ?</p>
  </marquee>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Booking
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          Booking will happens for this account number : <input type="text" id="myText" value="{{userData.acc_num}}" disabled>
          <div class="form-group">
            <label for="src">Arrival Station:</label>
            <select class="form-control" id="src" name="src">
              {{#each stations}}
              <option value="{{station_code}}">{{station_name}}</option>
              {{/each}}
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="dept">Departure Station:</label>
            <select class="form-control" id="dept" name="dept">
              {{#each stations}}
              <option value="{{station_code}}">{{station_name}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick="getOption()">Continue Booking</button>
      </div>
    </div>
  </div>
</div>


<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .delete-button {
    background-color: #c00b23;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #8c091c;
  }

  .top-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .top-menu li {
    margin-right: 10px;
  }
</style>

<script>


  function getOption() {
    var acc_num = document.getElementById("myText").value;
    var src = document.getElementById('src').value;
    var dept = document.getElementById('dept').value;
    if (src === dept) {
      alert('Arrival and Departure stations cannot be the same!');
    }
    else
    {
    console.log(src);
    console.log(dept);
    console.log(acc_num);
    window.location.href = "/book?acc_num=" + acc_num + "&src=" + src + "&dept=" + dept;
    }
    

  }


</script>